{erl_opts, [debug_info]}.
{deps, [
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_support"}},
    {cowboy, "2.12.0"},
    {gun, "2.1.0"}
]}.

{plugins, [
    erlfmt,
    {eqwalizer_rebar3,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_rebar3"}}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [plus18_server]}
]}.

{relx, [
    {release, {plus18_server, "0.1.0"}, [plus18_server]},
    {sys_config, "./config/dev_sys.config"},

    {vm_args, "./config/dev_vm.args"},
    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.
